target/
build/
Servers/
.metadata/
.recommenders/
.settings/
.project
.classpath
RemoteSystemsTempFiles/
_ajdump/
.springBeans
*.ffs_db
.externalToolBuilders
.svn/
dependency-reduced-pom.xml
alfresco.log
*.ffs_lock
suggestions.xdsl
